.photo-grid {
    display: grid;
    max-width: 1184px;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto 52px;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 767px){
    .photo-grid {
        min-width: 288px;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        gap: 12px;
        padding: 0 16px;
    }
}